	html {
	position: relative;
	min-height: 100%;
}
	body {
		background-color: #9b111e;
	}
	.textbox {
    background-color: #f1f1f1;
    padding: 50px;
    text-align: justify;
    margin: 0px 50px 0px 50px;
    padding: 35px;
    border: 1px solid black;
}
	pre {
		white-space: pre-wrap;
		background-color: #d8d8d8;
	}
