	html {
	position: relative;
	min-height: 100%;
}
	body {
		background-color: #9b111e;
	}
	.textbox {
    background-color: #f1f1f1;
    padding: 50px;
    margin: 0 0 0px;
    padding: 35px;
    border: 1px solid black;
}
