input[type=submit]{
    background-color: #740000;
    border: none;
    color: white;
    padding: 8px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.searchbar {
	text-align: center;
}
