.h1title {
  box-sizing: content-box;
  font: normal 68px/1 "Courier New", monospace;
  text-align: center;
  text-overflow: ellipsis;
  letter-spacing: 0px;
  white-space: pre-line;
  padding: 1px;
  margin: 0px;
  border: 1px solid black;
  background-color: #740000;
}

.h2title {
	text-align: center;
}
